<div class="list-group">
	<% @bookmarks.each do | bookmark | %>
		 <a href="<%= bookmark.url %>" class="list-group-item">
   			 <h4 class="list-group-item-heading"><%= bookmark.title %></h4>
   			 <p class="list-group-item-text"><%= bookmark.description %></p>
		  </a>
	<% end %>
</div>

